# This file contains common pin mappings for the Fysetc Cheetah v1.2b
# board. To use this config, the firmware should be compiled for the
# STM32F103 with "No bootloader" and serial (on USART1 PA10/PA9)
# communication.

# The "make flash" command does not work on the Cheetah. Instead,
# after running "make", run the following command to flash the board:
#  stm32flash -w out/klipper.bin -v -i rts,-dtr,dtr /dev/ttyUSB0

# See docs/Config_Reference.md for a description of parameters.


[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
restart_method: cheetah

[stepper_x]
step_pin: PB8
dir_pin: !PB9
enable_pin: !PA8
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 40
endstop_pin: ^PA1
position_endstop: 153
position_max: 154
position_min: -3
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: PA12
tx_pin: PA11
run_current: 1.00
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB2
dir_pin: !PB3
enable_pin: !PB1
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 40
endstop_pin: ^PB4
position_endstop: 152.5
position_max: 152.5
position_min:-3
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: PB7
tx_pin: PB6
run_current: 1.00
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PC0
dir_pin: PC1
enable_pin: !PC2
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 4
endstop_pin: ^PA15
#position_endstop: 0
position_max: 140
position_min: -3
homing_speed: 50

[tmc2208 stepper_z]
uart_pin: PB11
tx_pin: PB10
run_current: 1.00
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PC15
dir_pin: !PC14
enable_pin: !PC13
microsteps: 16
full_steps_per_rotation: 200 
rotation_distance: 4.077670766928368
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 21.527
#pid_ki: 1.063
#pid_kd: 108.982
min_temp: 0
max_temp: 270
max_extrude_only_distance: 780.0
max_extrude_cross_section: .8
Pressure_advance: 0.04665
pressure_advance_smooth_time: 0.040

[tmc2208 extruder]
uart_pin: PA3
tx_pin: PA2
run_current: 0.30
hold_current: 0.250
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC7
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC5
#control: pid
#pid_kp: 54.027
#pid_ki: 0.770
#pid_kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PC8

[heater_fan nozzle_cooling_fan]
pin: PB0

[idle_timeout]
timeout: 180000

[homing_override]
axes: xyz
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   G0 X153 Y132 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X75 Y75 Z20 F3600


[virtual_sdcard]
path: ~/uploads/

[pause_resume]

[display_status]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    M140 S{BED}
    G28                            ; home all axes
    G1 Z20 F3000                   ; move nozzle away from bed
    # Wait for bed to reach temperature
    M190 S{BED}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER}


   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600    ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X75 Y{max_y} F3600          ; park nozzle at rear


[printer]
kinematics: corexy
max_velocity: 500
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC9,  EXP1_3=PC11, EXP1_5=PC10, EXP1_7=PB12, EXP1_9=<GND>,
    EXP1_2=PC12, EXP1_4=PB14, EXP1_6=PB13, EXP1_8=PB15, EXP1_10=<5V>
    # Pins EXP1_4, EXP1_8, EXP1_6 are also MISO, MOSI, SCK of bus "spi2"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.562
#*# pid_ki = 0.912
#*# pid_kd = 139.601
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.047
#*# pid_ki = 3.172
#*# pid_kd = 265.564
#*#
#*# [stepper_z]
#*# position_endstop = -0.700
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 84.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 71.8
